* {
    margin: 0;
    padding: 30;
    box-sizing: border-box;
  }
  
  /* Estilos Gerais */
  header {
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
    padding: 20px 20px;
  }
  nav {
    width: 200px;
    display: flex;
    justify-content: space-between;
    background-color: gray;
  }
  body {
    font-family: 'Press Start 2P';
    font-size: 20px;
    line-height: 1.5;
    color: #fff;
    background-color: #fff;
  }

  h1 {background-color: gray;
      padding: 10px; 
      ;}
  
  a {
    color: #ffffff;
    display: flex;
    text-decoration: none;
    background-color: gray;
    justify-content: space-evenly;
    flex-direction: row;
  }
  
  a:hover {
    color: white ;
    text-decoration: underline black;
  }
  .sobre_jogo{
    margin-left: 50%;
    padding: 10px
  }
 