@font-face {
  font-family: "Emulogic Font";
  src: url("Emulogic-zrEw.ttf") format('truetype');
}
* {
    margin: 5;
    padding: 30;
    box-sizing: border-box;
  }
  
  /* Estilos Gerais */
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
  }

    
  .menu {
    position: fixed;
    width: 250px;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 20px;
    background: linear-gradient(to right, #264772 50%, transparent 50%);
     
    }

  body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    color: #fff;
    background-image: url('caverna.jpeg');
  }

  h1 {background-color: transparent;
      padding: 0.5%; 
      font-family: 'Emulogic Font';
      font-size: 40px;
    margin-left: 20%;}
  

  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #512532;
    color: white;
    text-align: center;
    margin: 0;
  }
  
  .sobre_jogo{
    margin-left: 8%;
    margin-right:8%;
    margin-bottom: 40%;
    padding: 0.5% 40% 0.5% 2%;
    background: rgba(186, 129, 129, 0.7);;
    border-radius: 20px 20px 20px 20px ;
    font-size: 20px;
    position: absolute;
  }

  .gif{ 
    margin-left: 61%;
    position: absolute;
    margin-top: -28%;
    z-index: 2;
    
    }

    .jogar-agora {
      text-align: right;
      margin-top: 30%;
      position: relative;
      margin-right: 23%;
    }
    
    .jogar-agora button {
      background-color: #264772;
      color: white;
      font-size: 20px;
      padding: 10px 20px;
      border-radius: 5px;
      border: 2px solid black;
      cursor: pointer;
    }

  img {border-radius: 50%;
    margin-right: 20%;
    }

  h2 {margin-left: 35%;
  font-size: 30px;}
 